# Xcode
#
# gitignore contributors: remember to keep this file simple and straightforward
# See https://github.com/github/gitignore/blob/main/Global/Xcode.gitignore
# and https://github.com/github/gitignore/blob/main/Swift.gitignore
# for a more comprehensive list of files to ignore.

## User-specific files
*.DS_Store
.com.apple.mobileicons.iconset
build/
DerivedData/
*.hmap
*.ipa
*.app
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

## Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
#
# Add this line if you want to avoid checking in resolved dependencies.
# *.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
.build/
.swiftpm/

## CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in your Podfile.lock
# Podfile.lock

## Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts
Carthage/Build

## fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Playgrounds
#
# Playgrounds are checked into repositories by default.
# To ignore playgrounds uncomment the following line:
#
# *.playground
